# Environments
venv/
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Node.js
node_modules/
dist/
dist-ssr/
*.local

# Tauri
src-tauri/target/
src-tauri/binaries/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo